.aouter {
  fill: #9cd9d9;
}

.binner {
  fill: #1ab8a1;
}

.ceyes {
  fill: #b0caff;
  opacity: 0.2;
}

.dmouth {
  fill: #fff;
  opacity: 0.9;
}

.svg {
  align-self: center;
  justify-self: center;
}
