/* Pause */

.apause {
  fill: url(#a);
}
.bpause {
  fill: #a4e6dd;
}
.cpause {
  filter: url(#b);
}
/* END Pause */

/* Play */

.a8uyt {
  fill: url(#a);
}

.b8uyt {
  fill: #a4e6dd;
}

.b8uyt:hover {
  fill: #458980;
}

/* END Play */
