.wrapper {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-auto-rows: 100vh;
}

.promo {
}

.bord-left {
  border-left: 0.7px solid lightgray;
}

.side {
  background: linear-gradient(#1ab8a1, #055448);
  display: grid;
  grid-template-rows: 20% 23% 57%;
}

.main {
  background-color: #f1f5f8;
  display: grid;
  grid-template-rows: 7% 40% 53%;
}

.head {
  display: grid;
  grid-template-columns: 90% 5% 4%;
}

.menu-back {
  background-color: #0bcdba;
}

.mid {
}

.footer {
}

:root {
  --color1: #1ab8a1;
  --color2: #d4e6e4;
  --color3: #ffffff;
  --color4: #abacac;
  --color5: #1ab8a1;
}

:root {
  --color5: #010001;
}

.color1-bg {
  background-color: var(--color1);
}

.color5-bg {
  background-color: var(--color1);
}

.color1-border {
  border-color: var(--color1);
}

.color1-text {
  color: var(--color1);
}



/*END Star SVG */



/* END Dropdown SVG */

/* Bookmark and Like SVG */
.abookmark {
  fill: #a4e6dd;
}
/* End Bookmark and Like SVG */





/* Side SVGs */


/* ACTIVE SVGs */
.ActiveSVG {
  fill: #fff;
}
/* End Side SVGs */

/* Filter SVGs */

/* End Item Display alarge */

/* Item Display alist */
.alist {
  fill: #abacac;
}
/* End Item Display alist */

/* Love SVG  */
.alove {
  fill: #d4e6e4;
}
/* End Love SVG  */

/* Filter SVGs */
/* Remove SVG  */
.a_remove {
  fill: #fb0707;
}
/* End Remove SVG  */
