.search-icon {
  fill: #95989a;
}
.aa {
  fill: #948686;
}

.bb {
  fill: #0f8775;
}

.cc {
  fill: #dedede;
  font-size: 12px;
  font-family: HelveticaRounded-Bold, Helvetica Rounded;
  font-weight: 700;
}

.aw {
  fill: #125a4f;
}

.a {
  fill: #a4e6dd;
}
.a24,
.b24 {
  fill: #0a4b41;
}

.b24 {
  font-size: 11px;
  font-family: SegoeUI-Bold, Segoe UI;
  font-weight: 700;
}

.clogo8uyt {
  filter: url(#d);
}

.d8uyt {
  filter: url(#b);
}
.ah256,
.bh256 {
  fill: #0a4b41;
}

.ah256 {
  font-size: 11px;
  font-family: SegoeUI-Bold, Segoe UI;
  font-weight: 700;
}

.play {
  display: grid;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(3px);
}
.menu-back {
  background-color: #0bcdba;
}

.width-full{
  width: 900px;
}

.color1 {
  color: #a4e6dd;
}
.color1:hover {
  color: #a4e6dd;
}

.bg-light-blue {
  background-color: #a4e6dd;
}

.bg-dark-blue {
  background-color: #29b9a4;
}

/* Audio Control SVG */
.a24,
.b24 {
  fill: #0a4b41;
}

.b24 {
  font-size: 11px;
  font-family: SegoeUI-Bold, Segoe UI;
  font-weight: 700;
}
/* End Audio Control SVG */

.drag {
  width: 12px;
  height: 12px;
  margin-top: -4px;
  margin-left: -3px;
}

.animating-width {
  -moz-transition: width 0.8s ease-out;
  -o-transition: width 0.8s ease-out;
  -webkit-transition: width 0.8s ease-out;
  transition: width 0.8s ease-out;
}
